@font-face {
  font-family: "COPPERPLATE";
  src: url("../fonts/copperplategothic_bold.ttf");
}
@font-face {
  font-family: "SKYER";
  src: url("../fonts/Skyer-TrialVersion.otf");
}
@font-face {
  font-family: "AKIRA";
  src: url("../fonts/Akira_Expanded_Demo.otf");
}
footer .footer_link a, footer .social_link a, .main_contact .bg_form form .form_btn .btn_form, .main_contact .bg_form, header nav .nav_theme button, header nav .nav_link a {
  color: #F8F1E5;
}

footer .footer_link, .main_contact .bg_form form .form_btn .btn_form {
  background: linear-gradient(90deg, #021C1E, #004445, #2C7873, #6FB98F);
}

.main_contact .bg_form, header nav .nav_logo, header nav {
  display: flex;
}

.main_contact .bg_form, header nav .nav_logo, header nav {
  align-items: center;
}

.main_contact .bg_form {
  flex-direction: column;
}

footer, .main_contact .bg_form form .form_btn, .main_contact h1, header {
  text-align: center;
}

footer .footer_link a:hover, .main_contact h1 {
  font-weight: bold;
}

footer .footer_link:hover a, header nav .nav_link:hover a {
  transition: 0.2s ease;
  opacity: 0.3;
}

footer .footer_link a, header nav .nav_link a {
  font-family: "SKYER";
  letter-spacing: 0.1em;
  text-decoration: none;
}

footer .footer_link a:hover, header nav .nav_link a:hover {
  transition: 1s ease;
  opacity: initial;
}

.main_contact .bg_form, .main_contact h1, .main_contact .bg_titre {
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../assets/imgs/background/background_img_001.webp");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header .logo_site_max {
  width: 100%;
  height: auto;
  max-width: 25em;
}
header nav {
  justify-content: space-between;
  background: linear-gradient(90deg, #021C1E, #004445, #2C7873, #6FB98F);
  padding: 0 1em;
  border-top: 1px solid #F8F1E5;
  border-bottom: 1px solid #F8F1E5;
}
header nav .nav_logo {
  width: 15%;
  margin: 0.2em 0;
}
header nav .nav_logo img {
  width: 2.8em;
  height: auto;
}
header nav .nav_link {
  width: 70%;
}
header nav .nav_link a {
  font-size: 1.2em;
  width: 8em;
  display: inline-block;
  border-radius: 5px;
}
header nav .nav_link a:hover {
  padding: 0.2em;
  margin: 0.2em 2em;
  background-color: #F8F1E5;
  color: #2C7873;
}
header nav .nav_theme {
  width: 15%;
  text-align: right;
}
header nav .nav_theme button {
  background: transparent;
  border-color: #2C7873;
  border-radius: 50px;
  margin: 0.5em;
  width: 2em;
  height: 2em;
}

.main_contact .bg_titre {
  margin-top: 3em;
  background: linear-gradient(90deg, rgba(248, 241, 229, 0) 0%, #F8F1E5 45%, #F8F1E5 55%, rgba(248, 241, 229, 0) 100%);
  width: 60%;
}
.main_contact h1 {
  background: linear-gradient(90deg, #021C1E 30%, #004445 50%, #2C7873 70%, #6FB98F 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  width: 10em;
  font-family: "COPPERPLATE";
}
.main_contact .bg_form {
  background-color: rgba(248, 241, 229, 0.0745098039);
  border-radius: 1em;
  margin-top: 3em;
  padding: 3em 0;
  font-family: "AKIRA";
  letter-spacing: 0.1em;
}
.main_contact .bg_form form {
  width: 95%;
  padding: 1em;
  border: #6FB98F 1px solid;
  border-radius: 1em;
  background-color: #021C1E;
}
.main_contact .bg_form form fieldset {
  padding: 0.2em;
}
.main_contact .bg_form form fieldset label {
  text-align: left;
}
.main_contact .bg_form form fieldset input {
  width: 100%;
  background-color: #F8F1E5;
  border: #6FB98F 2px solid;
  border-radius: 0.2em;
}
.main_contact .bg_form form fieldset textarea {
  width: 100%;
  height: 20em;
  background-color: #F8F1E5;
  border: #6FB98F 2px solid;
  border-radius: 0.2em;
}
.main_contact .bg_form form .form_btn .btn_form {
  width: 9em;
  margin-top: 0.5em;
  padding: 0.2em;
  border-radius: 0.2em;
  letter-spacing: 0.1em;
}

footer {
  margin-top: auto;
}
footer span {
  color: rgba(111, 185, 143, 0.6117647059);
}
footer .social_link {
  margin: 0.2em;
}
footer .social_link a {
  margin: 0.3em 0.3em;
}
footer .footer_link {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_link a {
  margin: 0.2em 0;
  padding: 0 2em;
  width: 16em;
}
footer .f_link_left {
  text-align: right;
  margin-right: 0.5em;
}
footer .f_link_right {
  text-align: left;
  margin-left: 0.5em;
  border-left: 2px solid #F8F1E5;
}

@media (max-width: 768px) {
  header .logo_site_max {
    max-width: 20em;
  }
  header nav .nav_logo {
    width: 15%;
  }
  header nav .nav_link {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav .nav_link a {
    margin: 0 1em;
  }
  header nav .nav_theme {
    width: 15%;
  }
  header nav .nav_theme button {
    margin: 0.1em;
  }
  .main_contact .bg_titre {
    margin-top: 2em;
    width: 95%;
  }
}
@media (max-width: 576px) {
  header .logo_site_max {
    display: none;
  }
  header .logo_site_min {
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    max-width: 80%;
    margin: 0.5em auto;
  }
  header nav .nav_theme button {
    margin: 0.3em;
  }
}
@media (min-width: 576px) {
  header .logo_site_max {
    display: initial;
  }
  header .logo_site_min {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */