//BACKGROUND IMAGE COVER FIX
@mixin bg_img_cov_fix {
    background-size: cover;
    background-attachment: fixed;
}

//FOOTER ALWAYS ON BOTTOM
//on body
@mixin footer_bottom1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

//on footer
@mixin footer_bottom2 {
    margin-top: auto;
}
@mixin flex_center{
    @extend %d_flex;
    @extend %it_center;
    @extend %flex_column;
    @extend %margin_auto;
}
//Background transparent , fond des zone principal
@mixin bg_zone_fade {
    @include flex_center;
    @extend %text_bone;
    background-color: $Bone_fade2;
    border-radius: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 1em;
}

//background dark pour section
@mixin bg_zone_dark {
    width: 95%;
    padding: 1em;
    border: $Greenery 1px solid;
    border-radius: 1em;
    background-color: $BlueBlack;
    height: 100%;
}



// RESPONSIVE BREAKPOINTS

@mixin breakpointMin($size: sm) {
    @if $size ==xs {
        @media (min-width: 0px) {
            @content;
        }
    }

    @else if $size ==sm {
        @media (min-width: 576px) {
            @content;
        }
    }

    @else if $size ==md {
        @media (min-width: 768px) {
            @content;
        }
    }

    @else if $size ==lg {
        @media (min-width: 992px) {
            @content;
        }
    }

    @else if $size ==xl {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @else if $size ==xxl {
        @media (min-width: 1400px) {
            @content;
        }
    }
}

@mixin breakpointMax($size: xxl) {
    @if $size ==sm {
        @media (max-width: 576px) {
            @content;
        }
    }

    @else if $size ==md {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $size ==lg {
        @media (max-width: 992px) {
            @content;
        }
    }

    @else if $size ==xl {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @else if $size ==xxl {
        @media (max-width: 1400px) {
            @content;
        }
    }
}