@font-face {
    font-family: "COPPERPLATE";
    src: url("../fonts/copperplategothic_bold.ttf");
}

$title_font: "COPPERPLATE";

@font-face {
    font-family: "SKYER";
    src: url("../fonts/Skyer-TrialVersion.otf");
}

$link_font: "SKYER";

@font-face {
    font-family: "AKIRA";
    src: url("../fonts/Akira_Expanded_Demo.otf");
}

$text_font: "AKIRA";