<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I.K Portfolio</title>
    <link rel="icon" href="../../assets/imgs/favicon/favicon.webp">
    <link rel="stylesheet" href="../../css/normalyse.css">
    <!-- <link rel="stylesheet" href="css/zoning.css"> -->
    <link rel="stylesheet" href="../../css/frameworks/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/frameworks/fontawesome.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <script defer src="../../js/frameworks/bootstrap.bundle.min.js"></script>
    <script defer src="../../js/main.js"></script>

</head>

<body>
    <header>
        <!-- LOGO SITE -->
         <section>
             <img src="../../assets/imgs/logo/Logo site dark.webp" class="logo_site_max" alt="Logo portfolio ieulia kevin" title="Logo portfolio ieulia kevin">
             <img src="../../assets/imgs/logo/Logo site dark linear.webp" class="logo_site_min" alt="Logo portfolio ieulia kevin" title="Logo portfolio ieulia kevin">
         </section>
        <!-- NAVBAR -->
         <section>
             <nav>
                 <!-- LOGO NAV -->
                 <div class="nav_logo">
                     <img src="../../assets/imgs/logo/IK1.webp" alt="logo I.K portfolio" title="logo I.K portfolio">
                 </div>
                 <!-- LIENS -->
                 <div class="nav_link">
                     <a href="../../index.html">ACCUEIL</a>
                     <a href="">CV</a>
                     <a href="">RÉALISATION</a>
                 </div>
                 <!-- THEME DARK/LIGHT-->
                 <div class="nav_theme">
                     <!-- change solid by regular -->
                     <button type="button">
                         <i class="fa-solid fa-moon"></i>
                     </button>
                     <button type="button">
                         <i class="fa-solid fa-sun"></i>
                     </button>    
                 </div>
             </nav>
         </section>
    </header>
    <main>
        
    </main>
    <footer>
        <!-- SOCIAL MEDIA -->
        <section>
            <div>
                <span>Retrouvez-nous sur les réseaux sociaux:</span>
            </div>
            <div class="social_link">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-google"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
                <a href=""><i class="fab fa-github"></i></a>
            </div>
        </section>
        <!-- FOOTER LINK -->
        <section>
            <div class="footer_link">
                <a href="#" class="f_link_left">CONTACT</a>
                <a href="legal_notices.html" class="f_link_right">MENTIONS LÉGALES</a>
            </div>
        </section>
       
    </footer>
</body>

</html>