<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I.K Portfolio</title>
    <link rel="icon" href="../../assets/imgs/favicon/favicon.webp">
    <link rel="stylesheet" href="../../css/normalyse.css">
    <!-- <link rel="stylesheet" href="css/zoning.css"> -->
    <link rel="stylesheet" href="../../css/frameworks/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/frameworks/fontawesome.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <script defer src="../../js/frameworks/bootstrap.bundle.min.js"></script>
    <script defer src="../../js/main.js"></script>

</head>

<body>
    <header>
        <!-- LOGO SITE -->
         <section>
             <img src="../../assets/imgs/logo/Logo site dark.webp" class="logo_site_max" alt="Logo portfolio ieulia kevin" title="Logo portfolio ieulia kevin">
             <img src="../../assets/imgs/logo/Logo site dark linear.webp" class="logo_site_min" alt="Logo portfolio ieulia kevin" title="Logo portfolio ieulia kevin">
         </section>
        <!-- NAVBAR -->
         <section>
             <nav>
                 <!-- LOGO NAV -->
                 <div class="nav_logo">
                     <img src="../../assets/imgs/logo/IK1.webp" alt="logo I.K portfolio" title="logo I.K portfolio">
                 </div>
                 <!-- LIENS -->
                 <div class="nav_link">
                     <a href="../../index.html">ACCUEIL</a>
                     <a href="">CV</a>
                     <a href="">RÉALISATION</a>
                 </div>
                 <!-- THEME DARK/LIGHT-->
                 <div class="nav_theme">
                     <!-- change solid by regular -->
                     <button type="button">
                         <i class="fa-solid fa-moon"></i>
                     </button>
                     <button type="button">
                         <i class="fa-solid fa-sun"></i>
                     </button>    
                 </div>
             </nav>
         </section>
    </header>
    <main class="main_LegNot">
        <section>
            <div class="bg_titre">
                <h1>
                    MENTIONS LÉGALES
                </h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="article_style col-12 col-lg-5">
                        <section>
                            <article>
                                <h2>
                                    Éditeur du Site
                                </h2>
                                <ul>
                                    <li><b>Nom : </b><i>IEULIA KEVIN</i></li>
                                    <li><b>Adresse : </b><i>1 rue Parmentier 81600 Gaillac</i></li>
                                    <li><b>Email : </b><i>ieulia.k@gmail.com</i></li>
                                    <li><b>Téléphone : </b><i>06.48.21.75.60</i></li>
                                </ul>
                            </article>
                            <article>
                                <h2>
                                    Hébergement du site
                                </h2>
                                <ul>
                                    <li><b>Nom : </b><i>undefined</i></li>
                                    <li><b>Raison sociale : </b><i>undefined</i></li>
                                    <li><b>Adresse : </b><i>undefined</i></li>
                                    <li><b>Téléphone : </b><i>undefined</i></li>
                                    <li><b>Email de contact : </b><i>undefined</i></li>
                                </ul>
                            </article>
                            <article>
                                <h2>
                                    Propriété Intellectuelle
                                </h2>
                                <p>
                                    Le contenu de ce site (textes, images, vidéos, etc.) est protégé par le droit d'auteur. 
                                    Toute reproduction, même partielle, est interdite sans autorisation préalable.
                                </p>
                            </article>
                        </section>
                    </div>
                    <div class="article_style col-12 col-lg-5">
                        <section>
                            <article>
                                <h2>
                                    Protection des Données
                                </h2>
                                <span>Conformément au RGPD :</span>
                                <ul>
                                    <li>Les données collectées via le formulaire de contact sont utilisées uniquement pour répondre aux demandes.</li>
                                    <li>Vous pouvez exercer vos droits d'accès, de modification, ou de suppression en contactant l'éditeur du site à l'adresse mentionnée ci-dessus.</li>
                                </ul>
                            </article>
                            <article>
                                <h2>
                                    Cookies
                                </h2>
                                <p>
                                    Ce site utilise des cookies pour améliorer l'expérience utilisateur. Vous pouvez configurer vos préférences dans les paramètres de votre navigateur.
                                </p>
                            </article>
                            <article>
                                <h2>
                                    Limitation de Responsabilité
                                </h2>
                                <p>
                                    L'éditeur décline toute responsabilité en cas d'utilisation abusive des informations présentes sur le site ou d'interruptions de service.
                                </p>
                            </article>
                        </section>
                    </div>

                </div>

            </div>
            <span>Dernière mise à jour : 03/12/2024</span>
        </section>
    </main>
    <footer>
        <!-- SOCIAL MEDIA -->
        <section>
            <div>
                <span>Retrouvez-nous sur les réseaux sociaux:</span>
            </div>
            <div class="social_link">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-google"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
                <a href=""><i class="fab fa-github"></i></a>
            </div>
        </section>
        <!-- FOOTER LINK -->
        <section>
            <div class="footer_link">
                <a href="contact.html" class="f_link_left">CONTACT</a>
                <a href="#" class="f_link_right">MENTIONS LÉGALES</a>
            </div>
        </section>
       
    </footer>
</body>

</html>